.ATL {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% 0px;
  align: center; }

.BOS {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -100px;
  align: center; }

.NO {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -200px;
  align: center; }

.CHI {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -300px;
  align: center; }

.CLE {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -400px;
  align: center; }

.DAL {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -500px;
  align: center; }

.DEN {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -600px;
  align: center; }

.DET {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -700px;
  align: center; }

.GS {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -800px;
  align: center; }

.HOU {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -900px;
  align: center; }

.IND {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1000px;
  align: center; }

.LAC {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1100px;
  align: center; }

.LAL {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1200px;
  align: center; }

.MIA {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1300px;
  align: center; }

.MIL {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1400px;
  align: center; }

.MIN {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1500px;
  align: center; }

.BKN {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1600px;
  align: center; }

.NY {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1700px;
  align: center; }

.ORL {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1800px;
  align: center; }

.PHI {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -1900px;
  align: center; }

.PHX {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2000px;
  align: center; }

.POR {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2100px;
  align: center; }

.SAC {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2200px;
  align: center; }

.SA {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2300px;
  align: center; }

.OKC {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2400px;
  align: center; }

.UTAH {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2500px;
  align: center; }

.WSH {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2600px;
  align: center; }

.TOR {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2700px;
  align: center; }

.MEM {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2800px;
  align: center; }

.CHA {
  background-repeat: no-repeat;
  height: 50px;
  background-position: 90% -2900px;
  align: center; }

/*# sourceMappingURL=nbaLogos.css.map */
